<mat-card class="text-page">
  <mat-card-header class="a2t-card-title">
    <mat-card-title>Some text page</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam mollis fringilla magna. Praesent sodales pulvinar
      dui, non scelerisque purus semper porttitor. Fusce efficitur rhoncus nibh, et congue diam posuere sed. Proin
      molestie maximus tortor sit amet scelerisque. Donec suscipit leo tortor, eget ultrices mi faucibus sed. Vivamus
      tincidunt imperdiet semper. Cras in semper felis. Phasellus euismod posuere eros, vitae bibendum orci placerat
      viverra. Duis ullamcorper posuere malesuada. Nullam vehicula orci a tellus bibendum sollicitudin. Pellentesque
      pharetra erat nec leo feugiat mattis. Vivamus vitae mauris dictum, vulputate est et, tincidunt lacus. Morbi
      pellentesque justo tellus, ac dapibus magna vulputate et.
    </p>
    <p>
      Nam aliquam libero vel lectus pellentesque, non scelerisque mi aliquam. Phasellus sit amet ante feugiat, rutrum
      tellus vitae, ornare dolor. Praesent semper vel dui a feugiat. Class aptent taciti sociosqu ad litora torquent per
      conubia nostra, per inceptos himenaeos. Duis non fermentum ante, vitae tristique arcu. Phasellus lectus nunc,
      convallis sit amet sagittis ut, vestibulum ac dui. Donec sit amet arcu id nisi semper iaculis sit amet dapibus
      lorem. Nam est elit, dictum faucibus fringilla quis, maximus non justo. Nulla tempus velit vel ex suscipit
      fermentum quis in enim. In hac habitasse platea dictumst. Etiam ac nisl sed turpis gravida aliquet. In hac
      habitasse platea dictumst. Mauris vitae consectetur erat, in elementum arcu. Donec id vulputate elit, a auctor
      nibh. Suspendisse sodales, dui sagittis pretium sollicitudin, sem magna pellentesque felis, non tempus odio enim
      id turpis.
    </p>
    <p>
      Nullam eu euismod augue, in varius leo. Nam convallis, ligula accumsan vestibulum sollicitudin, nulla libero
      pharetra ligula, eget porta velit nisl pretium dolor. Suspendisse potenti. Quisque elit ex, iaculis nec lacus
      sollicitudin, pulvinar vehicula augue. Maecenas maximus iaculis libero, malesuada porttitor velit aliquet eget.
      Sed nunc mauris, feugiat a felis a, tempus laoreet ligula. Donec suscipit lorem mi, a ornare mauris dapibus vitae.
      Cras consectetur fermentum ipsum vel commodo. Phasellus cursus, arcu id vehicula faucibus, elit turpis suscipit
      nulla, a posuere nisi justo sit amet purus. Duis facilisis malesuada semper. Nunc sit amet pretium dui. Phasellus
      et eros viverra, interdum eros id, maximus urna. Vivamus viverra eros leo, a iaculis dolor porttitor interdum. Sed
      sollicitudin purus id orci bibendum, eu luctus augue pellentesque.
    </p>
  </mat-card-content>
</mat-card>
