<div class="footer">
  <div class="footer-left-block">
    <nav class="footer-navigation">
      <a class="footer-link" routerLink="/legal-notice">Legal notice</a>
      <a class="footer-link" routerLink="/terms-and-conditions">Terms & conditions</a>
      <a class="footer-link" routerLink="/imprint">Imprint</a>
    </nav>
    <div class="footer-version">version {{version}}</div>
  </div>
  <div class="footer-copyright">
    <span class="footer-copyright-label">Experience by</span>
    <img class="footer-copyright-logo" alt="any2any-logo" src="../../../assets/Footerlogo.png">
  </div>
</div>
